// COLOR
$dark: #151515;
$green: #4EE1A0;
$primary-dark: #242424;
$gray: #d9d9d9;
$white: #fff;



// FONTS
$main-font-family: "Space Grotesk", "Arial"  sans-serif;


$large: 8.8rem;
$large-lh: 8.8rem;

$tile: 4.8rem;
$title-lh: 6.6rem;
$title-ls: -0.25rem;

$min-title: 2.4rem;
$min-title-lh: 3.2rem;

$text: 1.8rem;
$text-lh: 2.8rem;
$text-width: 500;

$logo: 1.2rem;
$logo-ls: -0.0444rem;

$button: 16px;
$button-lh: 26px;
$button-ls: 0.10rem;



$weight: 700;


